<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--用于接收AIS数据的IP地址-->
    <add key="AisHost" value="61.130.242.97" />
    <!--用于接收AIS数据的端口-->
    <add key="AisPort" value="8020" />
    <!--网站提供数据的websocket端口-->
    <add key="WebSocketPort" value="8090" />
    <!--本地播发端口，播发围栏抓拍信息-->
    <add key="ListenPort" value="9528" />
    <!--超时判定时长，单位：分钟-->
    <add key="TimeoutMinutes" value="15" />
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
